@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=Satisfy&display=swap");
* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

strong {
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .is-md,
.is-lg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sm,
.is-lg {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .is-lg {
    display: block;
  }
}
body {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background: #2F2F2F;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.l-wrapper {
  overflow: hidden;
}

.l-main {
  margin-top: 60px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .l-main {
    margin-top: 90px;
  }
}

.l-parallax__about {
  padding-bottom: 66.6666666667%;
  background: url(../img/parallax1.png) no-repeat bottom center/cover;
  background-attachment: fixed;
}
@media screen and (min-width: 768px) {
  .l-parallax__about {
    padding-bottom: 31.25%;
  }
}

.l-about {
  background: #F2F2F2;
}

.l-parallax__menu {
  padding-bottom: 66.6666666667%;
  background: url(../img/parallax2.png) no-repeat bottom center/cover;
  background-attachment: fixed;
}
@media screen and (min-width: 768px) {
  .l-parallax__menu {
    padding-bottom: 31.25%;
  }
}

.l-menu {
  background: #2F2F2F;
}

.l-footer {
  background: #F2F2F2;
}

.c-section-title {
  position: relative;
  padding: 0 0 14px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  line-height: 1.1875;
  letter-spacing: 0.16rem;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    padding: 0 0 18px 0;
    font-size: 4.8rem;
    line-height: 1.2;
    letter-spacing: 0.24rem;
  }
}
.c-section-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #159741;
}
.c-section-title.--dark {
  color: #FFFFFF;
}
.c-section-title.--dark::before {
  background: #FFFFFF;
}
.c-section-title.--dark .c-section-title__inline {
  color: #FFFFFF;
}

.c-section-title__inline {
  display: block;
  margin: 0 0 12px 0;
  color: #159741;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.428;
  letter-spacing: 0.07rem;
}
@media screen and (min-width: 768px) {
  .c-section-title__inline {
    margin: 0 0 16px 0;
    font-size: 1.8rem;
    line-height: 1.444;
    letter-spacing: 0.09rem;
  }
}

.c-button {
  display: block;
  text-align: center;
  border: 1px solid #333333;
  background: #FFFFFF;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.c-button:hover {
  color: #FFFFFF;
  background: #333333;
  transition: all 0.3s;
}
.c-button:hover .c-button__inline::after {
  background: url(../img/vector-hover.png) no-repeat center center/contain;
}
.c-button.--submit {
  background: #BDBDBD;
  color: #FFFFFF;
  border: 0;
  transition: opacity 0.3s;
}
.c-button.--submit:not(:disabled) {
  background: #159741;
}
@media screen and (min-width: 768px) {
  .c-button.--submit:not(:disabled):hover {
    opacity: 0.7;
    transition: opacity 0.3s;
  }
}
.c-button.--submit .c-button__inline {
  padding: 0;
}
.c-button.--submit .c-button__inline::after {
  width: 0;
  height: 0;
  background: none;
}

.c-button__inline {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.048rem;
  text-align: center;
  padding: 0 37px 0 0;
  position: relative;
}
.c-button__inline::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  background: url(../img/vector.png) no-repeat center center/contain;
}

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  background: #2F2F2F;
  z-index: 30;
  transition: all 0.5s;
}
.p-header.is-hidden {
  top: -100%;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .p-header {
    height: 90px;
    padding: 0 72px 0 32px;
  }
}

.p-header__left {
  margin: 15px auto 15px 0;
}

.p-header__right {
  margin: 0 0 0 auto;
}

.p-header-logo {
  display: block;
  height: 0;
  width: 55px;
  padding-top: 54.5454545455%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-header-logo {
    width: 116px;
    padding-top: 54.3103448276%;
  }
  .p-header-logo:hover {
    opacity: 0.7;
  }
}

.p-header-logo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-header-nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .p-header-nav__item + .p-header-nav__item {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .p-header-nav__item + .p-header-nav__item {
    margin-left: 40px;
  }
}

.p-header-nav__link {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 60px;
  padding: 15px 0;
  letter-spacing: 0.03rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-header-nav__link {
    font-size: 1.8rem;
    line-height: 90px;
    padding: 25px 0;
    letter-spacing: 0.054rem;
  }
  .p-header-nav__link::after {
    content: "";
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #159741;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
  }
  .p-header-nav__link:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

.p-mainvisual {
  padding: 0 0 64px 0;
}
@media screen and (min-width: 768px) {
  .p-mainvisual {
    padding: 0 0 110px 0;
  }
}
.p-mainvisual__container {
  position: relative;
}

.p-mainvisual__content {
  margin: 0 0 0 17.8666666667%;
}
@media screen and (min-width: 768px) {
  .p-mainvisual__content {
    margin: 0 0 0 25%;
  }
}

.p-mainvisual__img {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 78.8961038961%;
}
@media screen and (min-width: 768px) {
  .p-mainvisual__img {
    padding-top: 60.1851851852%;
  }
}
.p-mainvisual__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-mainvisual__text {
  position: absolute;
  top: 50%;
  left: 5.0666666667%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .p-mainvisual__text {
    left: 12.3611111111%;
  }
}

.p-mainvisual__text-inline-en {
  display: block;
  color: #FFFFFF;
  font-size: 3.6rem;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-mainvisual__text-inline-en {
    font-size: 6.4rem;
  }
}
@media screen and (min-width: 1100px) {
  .p-mainvisual__text-inline-en {
    font-size: 10rem;
  }
}
.p-mainvisual__text-inline-en strong {
  color: #159741;
}

.p-mainvisual__text-inline-ja {
  margin: 15px 0 0 5px;
  display: block;
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 1.428;
}
@media screen and (min-width: 768px) {
  .p-mainvisual__text-inline-ja {
    margin: 37px 0 0 21px;
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1100px) {
  .p-mainvisual__text-inline-ja {
    font-size: 3.2rem;
  }
}
.p-mainvisual__text-inline-ja strong {
  background: #159741;
  line-height: 30px;
  margin: 0 0 0 -5px;
  padding: 0 5px 0 0;
}
@media screen and (min-width: 768px) {
  .p-mainvisual__text-inline-ja strong {
    line-height: 52px;
    margin: 0 0 0 -21px;
    padding: 0 21px 0 0;
  }
}
@media screen and (min-width: 1100px) {
  .p-mainvisual__text-inline-ja strong {
    line-height: 64px;
  }
}

.p-mainvisual__block {
  padding: 48px 33px 0;
}

.p-mainvisual-message {
  color: #FFFFFF;
}

.p-mainvisual-message__head {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-mainvisual-message__head {
    font-size: 3rem;
    letter-spacing: 0.15rem;
  }
}

.p-mainvisual-message__body {
  margin: 24px 0 0 0;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.048rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-mainvisual-message__body {
    margin: 48px 0 0 0;
    font-size: 1.8rem;
    letter-spacing: 0.054rem;
  }
}

.p-about {
  padding: 64px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p-about {
    padding: 130px 0 150px;
  }
}

.p-about__container {
  padding: 56px 0 0 0;
}

.p-about__block {
  padding: 0 4.2666666667%;
  z-index: 2;
}
.p-about__block + .p-about__block {
  margin: 56px 0 0 0;
}
@media screen and (min-width: 768px) {
  .p-about__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12.5%;
  }
  .p-about__block + .p-about__block {
    margin: 64px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .p-about__block.--reverse {
    flex-direction: row-reverse;
  }
  .p-about__block.--reverse .p-about__block-bg {
    right: 0;
    left: auto;
  }
  .p-about__block.--reverse .p-about__block-img {
    margin: 0 67px 0 0;
  }
}

.p-about__block-content {
  padding: 0px 9px 32px;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .p-about__block-content {
    padding: 0;
  }
}

.p-about__block-head {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4583;
  letter-spacing: 0.12rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-about__block-head {
    font-size: 3rem;
    line-height: 1.4333;
    letter-spacing: 0.15rem;
  }
}
.p-about__block-head strong {
  color: #159741;
}

.p-about__block-body {
  margin: 16px 0 0 0;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.048rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-about__block-body {
    margin: 24px 0 0 0;
    font-size: 1.8rem;
    letter-spacing: 0.054rem;
  }
}

.p-about__block-img {
  position: relative;
  width: 100%;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .p-about__block-img {
    flex: 0 1 450px;
    margin: 0 0 0 67px;
  }
}
.p-about__block-img::before {
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 18rem;
  top: -160px;
  right: 0;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-about__block-img::before {
    bottom: auto;
    top: 50%;
    left: 168.4444444444%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1100px) {
  .p-about__block-img::before {
    font-size: 28.8rem;
  }
}
.p-about__block-img.--1::before {
  content: "01";
}
.p-about__block-img.--2::before {
  content: "02";
}
@media screen and (min-width: 768px) {
  .p-about__block-img.--2::before {
    left: auto;
    right: calc(100% + 65px);
  }
}
.p-about__block-img.--3::before {
  content: "03";
}

.p-about__block-img-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 64.139941691%;
}
@media screen and (min-width: 768px) {
  .p-about__block-img-item {
    padding-top: 64%;
  }
}
.p-about__block-img-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-menu {
  padding: 24px 16px;
}
@media screen and (min-width: 768px) {
  .p-menu {
    padding: 72px 5%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.p-menu__container {
  border: 1px solid #FFFFFF;
  padding: 32px 20px;
}
@media screen and (min-width: 768px) {
  .p-menu__container {
    padding: 80px 108px 100px;
  }
}

.p-menu__head-info {
  margin: 48px 0 0 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4375;
  letter-spacing: 0.048rem;
}

.p-menu__bottom {
  margin: 48px 0 0 0;
}
@media screen and (min-width: 768px) {
  .p-menu__bottom {
    margin: 80px 0 0 0;
  }
}

.p-menu-card {
  margin: 48px 0 0 0;
}

.p-menu-card__block {
  background: #FFFFFF;
  padding: 10px;
  position: relative;
  max-width: 524px;
  margin: 0 auto;
}

.p-menu-card__recommend {
  padding: 271px 0 0 0;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__recommend {
    padding: 0 0 0 361px;
  }
  .p-menu-card__recommend .p-menu-card__block {
    margin: 0 0;
  }
}
.p-menu-card__recommend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 315px;
  height: 311px;
  background: url(../img/img_basil-salad.png) no-repeat top right/contain;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__recommend::after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 445px;
    width: 451px;
  }
}
.p-menu-card__recommend .p-menu-card__container {
  padding: 111px 0 32px;
}

.p-menu-card__label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 38px 0 16px;
  text-align: center;
  color: #FFFFFF;
  background: #159741;
  width: 70.3333333333%;
}

.p-menu-card__label-inline-en {
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Satisfy", cursive, sans-serif;
  line-height: 1.416;
  letter-spacing: 0.036rem;
}

.p-menu-card__label-inline-ja {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.444;
  letter-spacing: 0.054rem;
}

.p-menu-card__list {
  margin: 48px 0 0 0;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__list {
    display: flex;
    margin: 85px 0 0 0;
  }
}

.p-menu-card__item {
  position: relative;
}
.p-menu-card__item + .p-menu-card__item {
  margin-top: 48px;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__item {
    width: calc(50% - 16px);
  }
  .p-menu-card__item + .p-menu-card__item {
    margin-top: 0;
    margin-left: 32px;
  }
}
.p-menu-card__item:nth-child(1) {
  padding: 261px 0 0 0;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__item:nth-child(1) {
    padding: 358px 0 0 0;
  }
}
.p-menu-card__item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 305px;
  height: 317px;
  background: url(../img/img_avocad-salad.png) no-repeat top right/contain;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__item:nth-child(1)::after {
    height: 417px;
    width: 434px;
    max-width: 100%;
  }
}
.p-menu-card__item:nth-child(2) {
  padding: 256px 0 0 0;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__item:nth-child(2) {
    padding: 358px 0 0 0;
  }
}
.p-menu-card__item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 308px;
  height: 312px;
  background: url(../img/img_chicken-salad.png) no-repeat top right/contain;
}
@media screen and (min-width: 1100px) {
  .p-menu-card__item:nth-child(2)::after {
    height: 427px;
    width: 432px;
    max-width: 100%;
  }
}

.p-menu-card__container {
  border: 1px solid #333333;
  padding: 48px 0 32px;
}

.p-menu-card__head {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.24rem;
  text-align: center;
}

.p-menu-card__body {
  margin: 16px 0 0 0;
  text-align: center;
}

.p-menu-card__price {
  position: relative;
  display: inline-block;
  padding: 0 47px 0 15px;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 0.03rem;
}
.p-menu-card__price::before {
  content: "¥";
  position: absolute;
  left: 0;
  bottom: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1.222;
  letter-spacing: 0.018rem;
}
.p-menu-card__price::after {
  content: "（税込）";
  position: absolute;
  right: 0;
  bottom: 3px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4166;
  letter-spacing: 0.012rem;
}

.p-menu-card__info {
  display: block;
  margin: 16px 0 0 0;
  font-size: 1.4rem;
  line-height: 1.428;
  letter-spacing: 0.042rem;
}

@media screen and (min-width: 1100px) {
  .p-menu-instagram .p-menu-card__block {
    max-width: 1080px;
  }
}
.p-menu-instagram .p-menu-card__label {
  padding: 10px 0 11px;
  width: 61.6666666667%;
}
.p-menu-instagram .p-menu-card__label-inline-en {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.12rem;
}
.p-menu-instagram .p-menu-card__container {
  padding: 64px 0 24px;
}
.p-menu-instagram .p-menu-card__head {
  padding: 0 22px;
  text-align: left;
}
.p-menu-instagram .p-menu-card__head span {
  font-size: 1.6rem;
  line-height: 1.4375;
  letter-spacing: 0.08rem;
  font-weight: 400;
}
@media screen and (min-width: 1100px) {
  .p-menu-instagram .p-menu-card__head {
    text-align: center;
  }
  .p-menu-instagram .p-menu-card__head span {
    font-size: 1.8rem;
    line-height: 1.444;
    padding: 0 42px;
    position: relative;
  }
  .p-menu-instagram .p-menu-card__head span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    width: 20px;
    height: 40px;
    border-right: 1px solid #333333;
  }
  .p-menu-instagram .p-menu-card__head span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    width: 20px;
    height: 40px;
    border-left: 1px solid #333333;
  }
}
.p-menu-instagram .p-menu-card__body {
  margin: 24px 0 0 0;
}

.p-instagram-content {
  padding: 0 10px;
}

.p-instagram-content__list {
  display: flex;
  flex-wrap: wrap;
}

.p-instagram-content__item {
  width: calc(50% - 5px);
}
.p-instagram-content__item:nth-child(2n) {
  margin-left: 10px;
}
.p-instagram-content__item:nth-child(n+3) {
  margin-top: 10px;
}
@media screen and (min-width: 1100px) {
  .p-instagram-content__item {
    width: calc(25% - 12px);
  }
  .p-instagram-content__item:nth-child(2n) {
    margin-left: 0;
  }
  .p-instagram-content__item:nth-child(n+3) {
    margin-top: 0;
  }
  .p-instagram-content__item + .p-instagram-content__item {
    margin-left: 16px;
  }
}

.p-instagram-content__link {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-instagram-content__link:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
  }
}

.p-instagram-content__img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.p-instagram-content__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-instagram-content__info {
  margin: 8px 0 0 0;
  font-size: 1.6rem;
  line-height: 1.4375;
  text-align: center;
}

.p-instagram-content__bottom {
  margin: 24px 0 0 0;
}

.p-shop {
  background: #F2F2F2;
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .p-shop {
    padding: 120px 0;
  }
}

.p-shop__map {
  margin: 56px 0;
  width: 100%;
  height: 0;
  padding-top: 66.6666666667%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-shop__map {
    margin: 80px 0;
    padding-top: 32.2916666667%;
  }
}
.p-shop__map > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  filter: grayscale(1);
}

.p-shop__info {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .p-shop__info-body {
    display: flex;
    align-items: center;
  }
}

.p-shop__info-container {
  padding: 0 7.4666666667%;
}
@media screen and (min-width: 1100px) {
  .p-shop__info-container {
    padding: 0 9.0277777778% 0 12.8472222222%;
  }
}

.p-shop__info-head {
  text-align: center;
}
@media screen and (min-width: 1100px) {
  .p-shop__info-head {
    text-align: left;
  }
}

.p-shop__info-head-inline-en {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 0.096rem;
  position: relative;
  padding-left: 31px;
}
.p-shop__info-head-inline-en::before {
  content: "TF";
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

.p-shop__info-head-inline-ja {
  display: block;
  font-size: 16px;
  line-height: 1.4375;
  letter-spacing: 0.048rem;
}
@media screen and (min-width: 768px) {
  .p-shop__info-head-inline-ja {
    font-size: 1.8rem;
    line-height: 1.444;
    letter-spacing: 0.054rem;
  }
}

.p-shop__address {
  margin: 24px 0 0 0;
}

.p-shop__address-inline {
  display: block;
  font-size: 1.6rem;
  line-height: 1.6875;
  letter-spacing: 0.048rem;
}
@media screen and (min-width: 768px) {
  .p-shop__address-inline {
    font-size: 1.8rem;
    line-height: 2;
    letter-spacing: 0.054rem;
  }
}

.p-shop__access {
  margin: 5px 0 0 0;
}

.p-shop__access-row {
  font-size: 1.6rem;
  line-height: 1.6875;
  letter-spacing: 0.048rem;
}
@media screen and (min-width: 768px) {
  .p-shop__access-row {
    font-size: 1.8rem;
    line-height: 2;
    letter-spacing: 0.054rem;
  }
}

.p-shop__access-head {
  text-align: left;
  width: 94px;
}

.p-shop__visual {
  padding: 40px 4.2666666667% 0;
}
@media screen and (min-width: 1100px) {
  .p-shop__visual {
    padding: 0;
    width: 100%;
    max-width: 700px;
  }
}

.p-shop__visual-img {
  width: 100%;
  padding-top: 86.8804664723%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-shop__visual-img {
    padding-top: 71.4285714286%;
  }
}
.p-shop__visual-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-shop__bottom {
  padding: 98px 4.2666666667% 0;
}

.p-shop-card {
  padding: 18px 0 113px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.6);
  position: relative;
}
@media screen and (min-width: 1100px) {
  .p-shop-card {
    padding: 30px 0 42px;
    max-width: 1146px;
    margin: 0 auto;
  }
}
.p-shop-card::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 93px;
  top: -39px;
  left: -16px;
  background: url(../img/stamp.png) no-repeat top left/contain;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-shop-card::before {
    top: -71px;
    left: -97px;
    width: 288px;
    height: 240px;
  }
}
.p-shop-card::after {
  content: "";
  position: absolute;
  width: 281px;
  height: 99px;
  bottom: 41px;
  right: 12px;
  background: url(../img/haveaniceday.png) no-repeat bottom right/contain;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-shop-card::after {
    width: 308px;
    height: 90px;
  }
}
@media screen and (min-width: 1100px) {
  .p-shop-card::after {
    bottom: 20px;
    right: 40px;
  }
}

.p-shop-card__head {
  padding: 0 10px;
}
@media screen and (min-width: 1100px) {
  .p-shop-card__head {
    display: flex;
    padding: 0 33px;
  }
}

.p-shop-card__head-img:nth-child(1) {
  width: 100%;
  padding-top: 87.306501548%;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .p-shop-card__head-img:nth-child(1) {
    width: 630px;
    padding-top: 0;
    height: 430px;
  }
}
.p-shop-card__head-img:nth-child(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.p-shop-card__head-img:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 27px);
  border: 1px solid #FFFFFF;
  z-index: 2;
}
.p-shop-card__head-img:nth-child(2) {
  width: 100%;
  padding-top: 64.7058823529%;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .p-shop-card__head-img:nth-child(2) {
    width: 450px;
    padding-top: 0;
    height: 430px;
  }
}
.p-shop-card__head-img:nth-child(2) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.p-shop-card__head-img:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 21px);
  border: 1px solid #FFFFFF;
  z-index: 2;
}

.p-shop-card__body {
  margin: 20px 10px 0;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .p-shop-card__body {
    margin: 27px 43px 0;
    display: flex;
  }
}

.p-shop-card__body-title {
  font-family: "Satisfy", cursive, sans-serif;
  font-size: 3rem;
  line-height: 43px;
  letter-spacing: 0.15rem;
  padding: 0 0 0 14px;
}
@media screen and (min-width: 1100px) {
  .p-shop-card__body-title {
    font-size: 4.8rem;
    line-height: 1.4375;
    letter-spacing: 0.24rem;
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .p-shop-card__body-layer {
    width: 612px;
    margin: 0 0 0 53px;
  }
}

.p-shop-card__body-layer-line {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
@media screen and (min-width: 768px) {
  .p-shop-card__body-layer-line:nth-child(2) {
    margin-top: 0;
    border-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .p-shop-card__body-layer-line:nth-child(3) {
    display: none;
  }
}

.p-shop-card__body-message {
  position: absolute;
  width: 100%;
  padding: 0 0 0 14px;
  top: 43px;
  left: 0;
  color: #4F4F4F;
  font-size: 1.6rem;
  line-height: 40px;
}
@media screen and (min-width: 1100px) {
  .p-shop-card__body-message {
    width: 612px;
    top: 0;
    left: 255px;
  }
}

.p-contact {
  padding: 64px 16px;
  background: url(../img/sp/bg_contact-sp.png) no-repeat center center/cover;
}
@media screen and (min-width: 768px) {
  .p-contact {
    padding: 130px 16px;
    background: url(../img/bg_contact.png) no-repeat center center/cover;
  }
}

.p-contact__container {
  background: #F2F2F2;
  padding: 64px 16px;
  max-width: 800px;
  margin: 0 auto;
}

.p-contact__text {
  margin: 48px auto 32px;
  max-width: 520px;
  font-size: 1.6rem;
  line-height: 1.4375;
  letter-spacing: 0.048rem;
  text-align: center;
}

.p-contact-form {
  max-width: 520px;
  margin: 0 auto;
}

.p-contact-form__item + .p-contact-form__item {
  margin: 32px 0 0 0;
}

.p-contact-form__label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
}

.p-contact-form__label-inline {
  margin: 0 0 0 10px;
  padding: 0 7px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  line-height: 21px;
  border-radius: 6px;
  color: #FFFFFF;
  background: #159741;
}

.p-contact-form__input {
  margin: 6px 0 0 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
  transition: all 0.3s;
}
.p-contact-form__input input,
.p-contact-form__input textarea {
  width: 100%;
  border: 1px solid #4F4F4F;
  border-radius: 0;
  outline: none;
}
.p-contact-form__input input:hover, .p-contact-form__input input:focus,
.p-contact-form__input textarea:hover,
.p-contact-form__input textarea:focus {
  box-shadow: 0px 0px 4px 0px #159741;
  border: 1px solid #159741;
  transition: all 0.3s;
}
.p-contact-form__input input {
  padding: 16px;
}
.p-contact-form__input textarea {
  height: 160px;
  padding: 13px 16px;
}

.p-contact-form__checkbox {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 0;
}
.p-contact-form__checkbox .p-contact-form__label {
  position: relative;
  width: 30px;
  height: 30px;
}
.p-contact-form__checkbox label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #2F2F2F;
  background: #FFFFFF;
  transition: all 0.3s;
}
.p-contact-form__checkbox label.is-active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  border-right: 2px solid #159741;
  border-bottom: 2px solid #159741;
  top: 0;
  left: 8px;
  transform: rotate(45deg);
}
.p-contact-form__checkbox label:hover {
  box-shadow: 0px 0px 4px 0px #159741;
  border: 1px solid #159741;
  transition: all 0.3s;
}
.p-contact-form__checkbox label:active {
  background: rgba(21, 151, 65, 0.15);
  box-shadow: 0px 0px 4px 0px #159741;
  border: 1px solid #159741;
}
.p-contact-form__checkbox input {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

.p-contact-form__policy {
  margin: 0 0 0 12px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

.p-contact-form__policy-link {
  color: #159741;
  text-decoration: underline;
  line-height: 30px;
}
@media screen and (min-width: 768px) {
  .p-contact-form__policy-link:hover {
    opacity: 0.7;
  }
}

.p-contact-form__bottom {
  margin: 40px 0 0;
}

.p-footer {
  position: relative;
  padding: 48px 0 10px;
}

.p-footer__sns-list {
  display: flex;
  justify-content: center;
}

.p-footer__sns-item + .p-footer__sns-item {
  margin-left: 40px;
}

.p-footer__sns-link {
  display: block;
  width: 50px;
  height: 50px;
  background: #2F2F2F;
  border-radius: 50%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-footer__sns-link {
    width: 40px;
    height: 40px;
  }
  .p-footer__sns-link:hover {
    opacity: 0.7;
  }
}
.p-footer__sns-link i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-footer__sns-link i {
    font-size: 2.3rem;
  }
}

.p-footer__nav {
  margin: 40px 0 0 0;
}

.p-footer__nav-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .p-footer__nav-item + .p-footer__nav-item {
    margin-left: 32px;
  }
}
@media screen and (min-width: 768px) {
  .p-footer__nav-item + .p-footer__nav-item {
    margin-left: 40px;
  }
}

.p-footer__nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.1875;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 768px) {
  .p-footer__nav-link {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .p-footer__nav-link:hover {
    opacity: 0.7;
  }
}

.p-footer__logo {
  display: block;
  margin: 34px auto 0;
  width: 166px;
  height: 90px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-footer__logo {
    margin: 36px auto 0;
  }
  .p-footer__logo:hover {
    opacity: 0.7;
  }
}

.p-footer__logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-footer__copyright {
  margin: 30px 0 0 0;
  font-size: 1.2rem;
  line-height: 1.416;
  letter-spacing: 0.03rem;
  text-align: center;
}

.p-footer__totop {
  z-index: 20;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #333333;
  background: #F2F2F2;
  visibility: hidden;
}
.p-footer__totop.is-show {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .p-footer__totop {
    bottom: 60px;
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
  .p-footer__totop:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    opacity: 0.7;
  }
}
@media screen and (min-width: 1100px) {
  .p-footer__totop {
    right: 60px;
  }
}
.p-footer__totop::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background: url(../img/to_top.png) no-repeat top center/contain;
}
@media screen and (min-width: 768px) {
  .p-footer__totop::before {
    top: 25px;
    width: 35px;
    height: 35px;
  }
}

.p-footer__totop-text {
  position: absolute;
  bottom: 16px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.166;
  letter-spacing: 0.03rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-footer__totop-text {
    bottom: 27px;
    font-size: 1.6rem;
    line-height: 1.2;
  }
}